<li class="photo__item">
    <a class="photo__link" href={{original}}>
        <img class="img photo__img balcony" srcset="{{preview}} 1x, {{original}} 2x" src={{preview}} data-source={{original}} alt="Фото работы" width="250">
    </a>
</li>